[2019-11-19 09:47] p4cx opened #39 "AVX_512 handling in DynamoRIO breaks Fluffi execution"
On newer machines Fluffi won't start properly, because we inherited following bug of DynamoRIO:
[AVX-512 handling breaks DynamoRIO execution on Windows with full AVX-512 support](https://github.com/DynamoRIO/dynamorio/issues/3949)

The described work-around, setting `avx512_enabled` to _false_ works for now.

[2019-11-20 12:17] TomSie commented on #39
fixed with commit 555c2f7846024102f313de9f29c566407deb2185

[2019-11-20 12:17] #39 closed, assigned to p4cx

[2020-02-05 00:06] maverickwoo opened #78 "Taking Internet offline too early"
This step https://github.com/siemens/fluffi/blob/a259d74805923419dc09ae7421ca6422d3bfb74f/getting_started.md#L121 seems too soon because the next step https://github.com/siemens/fluffi/blob/a259d74805923419dc09ae7421ca6422d3bfb74f/getting_started.md#L129-L134 still requires a working Internet connection in our deployment experience.

[2020-02-05 00:23] maverickwoo opened #79 "Missing directories when running deploy2FTP.sh"
https://github.com/siemens/fluffi/blob/4bb9d49662272e423a4b50e0dd6a65ff38a658ec/build/ubuntu_based/deploy2FTP.sh#L31 and the three other similar lines in the FTP commands in this shell script assume that the directories `/srv/fluffi/data/ftp/files/fluffi/linux/{x64,x86,arm32,arm64}` exist on Fluffi master. In our deployment, they don't exist after a fresh install.

P.S. It seems reasonable to add

[2020-02-05 08:00] #79 closed, assigned to p4cx

[2020-02-05 08:00] #78 closed, assigned to p4cx

[2020-02-23 21:19] maverickwoo opened #92 "/srv/fluffi/data/tftp does not exist in a fresh installation"
`/srv/fluffi/data/tftp` is excluded in the rsync step to create or update `/srv/fluffli`. So we created it by hand for now.

The first point of interest would be:
https://github.com/siemens/fluffi/blob/9306937f511ee8a9b09acff3288bf1d6aef1a0d9/getting_started.md#L107

[2020-02-23 22:29] maverickwoo opened #93 "/srv/fluffi/data/fluffiweb/app/static/bootstrap does not exist"
After the commit https://github.com/siemens/fluffi/commit/cbc2cfdcfbd1663d9202cf37251c82942fb4ad25#diff-c65083bf5529e8821f2c7d386c933379, `/srv/fluffi/data/fluffiweb/app/static/bootstrap` does not exist in a fresh install. However, the generated html page still refers to it.

Examples quoted from `view-source:http://web.fluffi:8880/` after a fresh install:

1. The `head` block:
[code]

2. After `f

[2020-02-24 06:55] TomSie commented on #93
Could you please have a look at this @jones718

[2020-02-25 13:42] jones718 commented on #93
Does it say "/srv/fluffi/data/fluffiweb/app/static/bootstrap does not exist" in the browsers console?
And is the webgui running in a docker container?
I'm trying to reproduce the issue right now. Thanks!

[2020-02-26 06:35] maverickwoo commented on #93
The browser console shows:
[code]

We run everything in a VM. I will post another comment that will help you repro on a fresh Ubuntu 18.04 VM.

[2020-02-26 07:07] maverickwoo commented on #93
(Note: The instructions below are only for reproducing the bug. They are not sufficient to obtain a full Fluffi installation.)

With a fresh Ubuntu 18.04 VM:

[code]

In our experience, the first two times of running `docker-compose up --force-recreate` will loop at:

The third time or so we will get:

(Note: We will go investigate this looping later. Now coming back onto this issue.)

Finally, in

[2020-02-26 08:43] #92 closed, assigned to nobody

[2020-02-26 13:05] jones718 commented on #93
Okay a quick fix is to run the removed block from the get_dependencies script again so the bootstrap folder exists.
[code]
The problem was that the webgui should use only bootstrap by the flask_bootstrap package.
Unfortunately, thanks to your issue we found out that this currently only works when running the webgui locally in dev mode but not inside the docker container(production mode/nginx). Thi

[2020-02-26 13:09] p4cx commented on #93
This is by design, as it will take some time to launch Polemarch.

[2020-02-26 23:52] maverickwoo commented on #93
@p4cx, we agree that Polemarch can take some time. The intriguing thing is we have observed two very different behaviors after we run `docker-compose up --force-recreate`. Sometimes we get "Initialization Finished!" after fewer than 10 retry messages, but some other times we need to wait 10+ minutes. In any case, at present we are quite OK with this behavior so far and we also cannot be sure wheth

[2020-02-26 23:59] maverickwoo commented on #93
@jones718, yes, this is basically what we did with our local installation. After manually inserting the content of `bootstrap/dist` into `/srv/fluffi/data/fluffiweb/app/static/bootstrap` and also adding `/srv/fluffi/data/fluffiweb/app/static/bootstrap/jquery.min.js`, http://web.fluffi:8880/ appears to render correctly (to the extent possible with our current deployment...)

[2020-02-27 00:22] maverickwoo opened #96 "http://web.fluffi:8880/systems returns 502"
We believe we currently have a Fluffi master VM and two Linux Fluffi runner VMs that are running "as correctly as we know how to". The most important evidence in support of this belief includes:
1. The three periodic tasks in PoleMarch all run correctly: Polemarch has seen 0 error/interrupted/delay/offline events.
2. The two runner VMs can connect to the rest of the infra just fine: DNS queries, s

[2020-02-27 11:41] p4cx commented on #96
This only happens when no fuzzjob is currently running. When you start a fuzzjob, it should be in the table on the left and Grafana is embedded on the right with graphs (e.g. System CPU Utilization or Unique Crashes and Violations) for the fuzzjob.

[2020-02-27 11:47] #96 closed, assigned to p4cx

[2020-02-27 11:55] p4cx commented on #93
This shouldn't be the case, but for debugging issue #96 I created a Polemarch Container and I didn't have to wait that long, max. 20 retry messages. But thanks for mention that odd behavior.

[2020-02-28 14:35] TomSie opened #98 "Cannot add system when starting from scratch"
When starting with a new database and not configuring any hosts, "Add system" fails with an error message:

![image](https://user-images.githubusercontent.com/16607413/75557051-a374c600-5a3f-11ea-80ac-3e337b7307cb.png)

[2020-02-28 14:37] TomSie opened #99 "Some events should trigger "checkHostsAlive""
for better usability trigger "checkHostsAlive"

- web container start
- adding a new system

[2020-02-28 14:41] TomSie opened #100 "Changing location after adding first location does not work"
![image](https://user-images.githubusercontent.com/16607413/75557601-9efcdd00-5a40-11ea-861a-7b6029d852c2.png)

[2020-03-01 05:35] maverickwoo commented on #98
I think this issue happened when adding a system *before* adding a Location. (The `locations` and `systems_location` tables are both empty.)

Some more notes:

1. In a fresh installation, the `locations`, `systems`, and `systems_location` tables are all empty in the database. The runner system CRUD operations on the web interface would want to take these corner cases into account. (It seems the cu

[2020-03-01 20:44] maverickwoo opened #101 "http://web.fluffi:8880/systems/removeDevSystem/{{system}}/ returns 404"
To reproduce, visit http://web.fluffi:8880/systems, then:

1. Create a runner system using the web interface. For this example, say the system name is `fluffi-0228-Linux3`.

2. Click on the X icon at the end of the row of the newly-created system. The browser will visit http://web.fluffi:8880/systems/removeDevSystem/fluffi-0228-Linux3/ and get a 404.

[2020-03-01 21:11] maverickwoo opened #102 "Evaluate the decision to prepend "dev-" to runner systems created using web interface"
With current [master](https://github.com/siemens/fluffi/tree/ab9b81fad21adf2a0377665e6f6a3648403e84fc), a runner system created using the web interface has two "names" that spell differently. Say I have just created a system called `fluffi-0228-Linux3` using the web interface.

1. In http://web.fluffi:8880/systems, we see a new table row with link `fluffi-0228-Linux3` in the browser. But the targe

[2020-03-01 21:23] maverickwoo opened #103 "Audit root directories that should be created in /srv/fluffi/data/ftp/files/"
Due to this step:
https://github.com/siemens/fluffi/blob/ab9b81fad21adf2a0377665e6f6a3648403e84fc/getting_started.md#L111
it is not possible to create a new root directory in `ftp.fluffi` using the FTP protocol. As a consequence, we would create new missing root directories via terminal work on the host of the containers.

So far, we have already discovered three more missing directories. A code a

[2020-03-01 22:14] maverickwoo opened #104 "Declare fluffi as local domain in dnsmasq"
Somewhere around this line:
https://github.com/siemens/fluffi/blob/ab9b81fad21adf2a0377665e6f6a3648403e84fc/srv/fluffi/data/dnsmasq/dnsmasq.conf#L76
we can declare `fluffi` to be a local domain:
[code]

For example, dnsmasq will reply to AAAA queries with `NODATA-IPv6` instead of `REFUSED` after this change. Example output after applying the proposed change:
[code]
As another benefit, a `dig www.f

[2020-03-03 08:40] TomSie commented on #102
I favor the idea of getting rid of the "dev-" systems. Imho all systems should be treated equally, if possible.

However, we need to review the code to see what breaks if we remove this.

[2020-03-03 08:41] TomSie commented on #93
Is this issue fixed by https://github.com/siemens/fluffi/pull/105 ?

[2020-03-03 08:49] p4cx commented on #101
Depends on #102

[2020-03-03 11:09] p4cx commented on #102
I agree with you here and I will review and remove `dev-` (if possible). In addition, every system should be removable in the web gui and not just `dev-` systems.

[2020-03-03 15:08] p4cx commented on #98
Still not fixed. Work in progress!

[2020-03-03 18:00] maverickwoo commented on #102
Personally, I also favor a design that
1. treats every host equally,
2. sees the web interface as the GUI method of performing CRUD in the DB, and
3. sees the DB as the single source of truth of the inventory of runner systems.

In this design, the Ansible inventory specification will follow a common pattern for cloud applications: a [dynamic inventory](https://docs.ansible.com/ansible/latest/dev_

[2020-03-04 09:30] jones718 commented on #93
Yes it is fixed by #105.
I have added the missing bootstrap and jquery files to the dependency sript, because some components of the webui need it and can not use the flask_bootstrap package as expected.

[2020-03-04 09:30] #93 closed, assigned to jones718

[2020-03-04 14:18] p4cx commented on #102
These two ideas for the design are now implemented in #107

We have decided that Polemarch's host file is our source of truth. After launching the web user interface, a function is called in which the systems are retrieved from Polemarch and added to the database after you have added a location. At runtime, you can delete any system, add new systems, change locations, ...
If you restart the Webui,

[2020-03-05 09:11] #98 closed, assigned to jones718

[2020-03-05 09:11] #100 closed, assigned to p4cx

[2020-03-05 09:11] #101 closed, assigned to p4cx

[2020-03-05 09:11] #102 closed, assigned to p4cx

[2020-03-05 10:49] #99 closed, assigned to p4cx

[2020-03-10 10:57] joyride9999 opened #112 "Prerequisites needs more info"
Would be nice if in prerequisites is enumerated everything that is needed for building to eliminate wait time for rebuilding in case something went wrong or is not installed.
E.g. :
- VS2017 with v141 build tools
- Go with https://github.com/go-sql-driver/mysql  driver
- Cygwin with needed packages (make, cmake, gcc-*,mingw64-i686-*, mingw64-x86_64-*)
- Perl

[2020-03-10 11:06] TomSie commented on #112
Afaik, in order to build FLUFFI on windows we need

- git
- Build tools for Visual Studio 2017 or Visual Studio 2017
- cmake
- perl (e.g. Strawberry Perl for Windows)
- cygwin64 with make, gcc-i68, and gcc installed
- go (never than 1.12) with https://github.com/go-sql-driver/mysql driver

Furthermore, to deploy to FLUFFI FTP, one also needs
- 7zip
- Winscp

[2020-03-10 13:32] p0wer0xff commented on #112
I'm currently going through the step by step startup instructions and will refactor them as I go.

You can get the WIP on the [refactoring branch](https://github.com/siemens/fluffi/tree/refactor-deployment-and-doc) - I just included these dependencies there.

[2020-03-11 08:15] joyride9999 opened #114 "PREPARE_ENV flag"
The flag has no effect on windows, it should be possible to have docker machines also on windows...

[2020-03-11 13:47] #104 closed, assigned to p0wer0xff

[2020-03-11 13:53] p0wer0xff commented on #114
You are right, it has no effect on windows - the fact that it is mentioned in the getting started guide is a copy-paste error. There is no need for docker on windows, we build FLUFFI there natively. Docker is only used on Linux to build the different CPU architectures FLUFFI can run on.

[2020-03-12 15:19] joyride9999 commented on #112
On ubuntu needs also:
sudo apt-get install flex bison

[2020-03-13 13:42] p0wer0xff commented on #112
I noticed the qemu build trying to call these components, but they are not installed in our build environment and qemu compiles just fine nonetheless. Could you check if having them installed has any adverse effects? Like for example drastically increased build times or errors applying the qemu fluffi patch...

[2020-03-13 14:37] joyride9999 opened #115 "ubuntu build error paths!?"
Running ./buildAll.sh -PREPARE_ENV=TRUE WITH_DEPS=TRUE i get the error:

cp: cannot stat '/fluffi/dependencies/qemu/Intel80386/qemu-arm': No such file or directory
make[1]: *** [depcopy] Error 1
make: *** [deps] Error 2

Dependencies folder has the parent "core" folder!
Also does the git clone needs to be done on the root folder "/" or it should support relative paths?

[2020-03-13 15:01] p0wer0xff commented on #115
If you are running on the current master branch, this is most likely an issue with the make -j parameter on low powered hardware, see the [pending fix](https://github.com/siemens/fluffi/commit/016d27af9a1c185704a974f0040b087ff6751c30).

The path you see in the error message is a path inside the [build container](https://github.com/siemens/fluffi/blob/master/build/ubuntu_based/buildAll.sh#L60) (not

[2020-03-19 08:24] joyride9999 opened #116 "setting up FUN (unclear)"
Would help if there is a bit of continuity between step 2) (compiling) and step 3 (setting up).

-  is this this step "git clone --depth 1 --branch master https://github.com/siemens/fluffi.git ./fluffigit necessary? As this was already done on step 2?
 - would also help if the checkout folder is the same as previous ... here it is used "fluffigit"

- touch /srv/fluffi/data/dnsmasq/dnsmasq.leases

[2020-03-19 15:59] vinamrabhatia opened #117 "Configure Instances Tab in Linux group doesn't work"
With the master at following [commit](https://github.com/siemens/fluffi/tree/434131627a901e9503d365e704a7d963516c168d), http://web.fluffi:8880/systems shows multiple groups: windows, linux and odroids.

On going to [Linux group](http://web.fluffi:8880/systems/view/linux/linux), we have 4 options.
The current state of the system is not reflected in 4] `Configure Instances`. There were some active f

[2020-03-20 22:26] vinamrabhatia opened #118 "Covered Blocks field is always 0"
With the master at following [commit](https://github.com/siemens/fluffi/tree/434131627a901e9503d365e704a7d963516c168d), http://web.fluffi:8880/index shows the list of fuzzjobs.

On going to any particular fuzzjob ( e.g. http://web.fluffi:8880/projects/view/1 will list the properties of the first fuzzed job), the number of covered blocks are reported as 0, even when the fuzzjob has performed a sign

[2020-03-23 09:26] p4cx commented on #117
Thank you for reporting this error. It should not be possible to start agents in a group (here Linux). Agents (TG, TR and TE) can only be started on systems in a group.

[2020-03-23 10:57] amb42 commented on #118
Hi vinamrabhatia,

Can you check that you have added the binary as an in-scope module? Only then will it attempt to gather the coverage for that module

If that is the case, can you maybe post a screenshot of your settings? Most importantly: Which runner type are you currently using?

Thanks

[2020-03-24 06:11] vinamrabhatia commented on #118
Sure! PFA.
[Screenshot.pdf](https://github.com/siemens/fluffi/files/4373479/Screenshot.pdf)

[2020-03-24 11:22] #117 closed, assigned to nobody

[2020-03-24 11:23] amb42 commented on #118
Awesome, thanks!

So everything there seems right, and from what i see the running actually works, so it definitely is some kind of issue with dynamorio. Sorry to ask for even more information, but could you maybe send us the log?

Otherwise, how about a short telco where we can take a look at it together?

[2020-03-24 15:16] joyride9999 opened #120 "running in a vbox problems"
- dns does not seem to work, as i cant access using names .. probably configurion is wrong
- trying to access localhost:8880 gives nginx error
![VirtualBox_ubuntu18 04_24_03_2020_17_11_58](https://user-images.githubusercontent.com/26308356/77442250-f8172100-6df2-11ea-8a0b-a66d70c98725.png)

Vbox machine is ubuntu 18.04, static ip set to 10.66.0.1

[2020-03-25 07:09] maverickwoo commented on #118
Hi @amb42,

I have discussed this with @vinamrabhatia today. Our observation is that, for this test binary, the number of covered blocks stayed `0` for several hours even though a crashing input was found in the first few minutes. Eventually, the number of covered blocks would go up as expected, as shown in his screenshot.

We currently have a working hypotheses: perhaps there was a delay in updat

[2020-03-25 10:25] joyride9999 commented on #120
Ubuntu 18.04 is using network-manager (https://help.ubuntu.com/community/NetworkManager)
So instead of "systemctl stop systemd-resolved.service"  should have "systemctl stop network-manager".

[2020-03-25 14:05] joyride9999 commented on #112
Also on ubuntu needs to install also smbclient.

Regarding flex and bison, for sure it will take longer ... though if they are not used maybe there is a way not to call at all those components

[2020-03-30 10:39] joyride9999 opened #122 "Usage documentation unclear"
I set up the initial machine in vbox with 10.66.0.1 ip. Compiled everything and docker is running as i can access the web server through http://web.fluffi:8880/
Added a second machine vbox machine to the network with ip 10.66.0.2

Both machine can communicate with each other .. as from the second machine i can ping gm.fluffi and get a response.
(ps : seems that also on the second machine i needed

[2020-04-02 11:33] p0wer0xff commented on #120
this is probably a network configuration issue.
please retry using the new and updated instructions from d492552c1db5fb3e96db9e740a770cb91aff6761 on the [refactoring branch](https://github.com/siemens/fluffi/tree/refactor-deployment-and-doc).
There you will also find [instructions](https://github.com/siemens/fluffi/blame/refactor-deployment-and-doc/getting_started.md#L143) to change from networkma

[2020-04-02 11:34] #120 closed, assigned to nobody

[2020-04-02 11:47] p0wer0xff opened #125 "can we somehow allow an anonymously writable ftp root?"
otherwise we cannot use ftp to create new subdirectories and files in root, as mentioned in #103

[2020-04-02 11:59] p0wer0xff commented on #116
You are right, there were several inconsistencies in the getting started guide that should be fixed by the linked PR. FLUFFI assumes that `10.66.0.1` is the master and that setting is used in several places. With the new documentation it should not be necessary to change the subnet, since FLUFFI is supposed to run in a separate network, and we [supply information](https://github.com/siemens/fluffi

[2020-04-02 12:04] p0wer0xff opened #126 "check qemu dependencies"
qemu compiles and runs without flex and bison, but we should investigate if not having them introduces any regressions - see #112

[2020-04-02 12:06] p0wer0xff commented on #112
please use a separate issue for other missing dependencies. where did you see smbclient missing?

[2020-04-02 12:10] joyride9999 commented on #112
In usage section, there is :
"smbclient '//smb.fluffi/install' -c 'cd initial; get MAC2Host.csv; get initialConfiguration.sh' -U"

At least on ubuntu18.04 desktop, this is not installed by default ... anyway because of the ip changing, and dns resolving stuff by the time i arrived to this part the machine had no internet so had to remake it again with inet :)

[2020-04-02 12:19] joyride9999 opened #127 "Missing dependencies info "smbclient""
In usage section, there is :
"smbclient '//smb.fluffi/install' -c 'cd initial; get MAC2Host.csv; get initialConfiguration.sh' -U"

At least on ubuntu18.04 desktop, this is not installed by default ... anyway because of the ip changing, and dns resolving stuff by the time i arrived to this part the machine had no internet so had to remake it again with inet :)

_Originally posted by @joyride9999 in

[2020-04-03 15:22] joyride9999 opened #128 "building on linux RAM"
In the section for compiling fluffi on linux it say "please install/allocate at least 6 GB of RAM", however for safety reasons i think should also recommend setting the swap file of 8GB.
Saying this because having ~8gb RAM for the machine and 4 gb swap, it may happen that at some point will run OOM and will crash when compiling!

[2020-04-05 19:01] vinamrabhatia commented on #118
Hi,

I believe that the main reason we were getting 0 covered blocks was because we were not using the target modules properly. I tried running a few fuzz jobs after giving the target module in the required manner, and I can observe the block coverages now. I think the issue can be closed.

[2020-04-05 19:01] #118 closed, assigned to nobody

[2020-04-06 07:29] joyride9999 opened #129 "Setting up FUN (unclear doc) (2)"
In the setting up Fun there is the following section
"Replace the following dummy textfiles with their respective binaries. A link to obtain these is contained in the dummy files:

/srv/fluffi/data/smb/files/initial/updatesWS2008
/srv/fluffi/data/ftp/files/initial/windows/ansible"

However is not really clear what it should be done here ... what files should be replaced?
![VirtualBox_ubuntu18 04_0

[2020-04-06 09:43] p0wer0xff commented on #128
Without knowing the full details of your compile run and environment this is hard to reproduce. When following the new guide (please note that the 6GB you cite are just an example - the [actual amount of memory](https://github.com/siemens/fluffi/blame/refactor-deployment-and-doc/getting_started.md#L61) depends on the number of jobs, which scales with the number of allocated CPU cores) and after ap

[2020-04-06 09:52] joyride9999 commented on #128
Had 3 cpu cores and 8gb allocated ram (on a vbox machine) ... this is why i was saying that its safer to mention/recommend also having a bigger swap file ...
Also i was on the refactor-deployment-and-doc branch

[2020-04-06 09:55] p0wer0xff commented on #129
All the actual files in these directories and their subdirectories are just placeholder textfiles that contain a link. These are mostly Microsoft proprietary binaries we cannot include in FLUFFI, so we link to where to get these files, you have to get them yourself, and replace the dummy files with the real ones by the same name. Since this is not clear from the documentation for you, could you pl

[2020-04-06 10:09] joyride9999 commented on #129
I think a better wording would be :
Download "package" from "link" and save it as "filename" in "path".

[2020-04-06 10:12] joyride9999 opened #130 "Small typo in Setting up Fun"
There is a section for setting up file permissions "

Set file permissions correctly:

sudo chown -R 1000:1000 /srv/fluffi/data/{ftp/files,tfpt,smb/files} "

- tfpt is actually tftp

[2020-04-06 10:36] p0wer0xff commented on #130
thanks, fixed :)

[2020-04-07 00:24] vinamrabhatia opened #131 "Deploy SUT/Dependency->Select Package doesn't work for Linux Machines"
With the master at following [commit](https://github.com/siemens/fluffi/tree/434131627a901e9503d365e704a7d963516c168d), http://web.fluffi:8880/systems shows multiple groups: windows, linux and odroids.
Clicking on any of the machines in Linux group takes us to a tab which has 4 options. (I guess the 4th option doesn't exist anymore as per the latest master).

For 3] `Deplot SUT/Dependency`,  'Depl

[2020-04-07 09:33] joyride9999 opened #132 "fluffi_fluffiweb_1 container error"
Attached log(this is on refactor-and-deployment-and-doc branch):

![VirtualBox_ubuntu18 04_07_04_2020_12_33_16](https://user-images.githubusercontent.com/26308356/78653568-fefe6300-78cb-11ea-91cb-b29a678de55f.png)

*** Starting uWSGI 2.0.17 (64bit) on [Tue Apr  7 12:31:48 2020] ***
compiled with version: 6.4.0 on 27 March 2018 12:43:27
os: Linux-5.3.0-46-generic #38~18.04.1-Ubuntu SMP Tue Mar 31 0

[2020-04-07 14:11] p0wer0xff commented on #131
@jones718 - could you have a look at this please?

[2020-04-07 16:47] jones718 commented on #131
I fixed the sqlalchemy error in pull request #133. I will investigate in the deployment on web.fluffi a bit more to test whether there are other errors related to this.

[2020-04-08 14:43] jones718 commented on #132
It seems like the connection to the database fails. Are you sure it is running and reachable with the user fluffi_gm, password fluffi_gm and hostname db.fluffi ?

[2020-04-08 15:21] joyride9999 commented on #132
Seems db its running ... also had to add in  hosts this line
10.66.0.1 	web.fluffi apt.fluffi mon.fluffi pole.fluffi gm.fluffi db.fluffi

![VirtualBox_ubuntu18 04_08_04_2020_18_20_21](https://user-images.githubusercontent.com/26308356/78801688-aad7a980-79c5-11ea-9578-ee874c997b7c.png)

[2020-04-08 17:09] jones718 commented on #132
Ok so probably the socket.gethostbyname('db.fluffi') fails. Maybe you can try to replace the function with your hostname hardcoded in server/fluffi/data/fluffiweb/config.py line 17.

[2020-04-09 07:01] p4cx commented on #132
Only "[Errno -3]" is specified in the container log. The error message points to "[Errno -3] Temporary error in name resolution". I suspect the error is in your setup. What happens if you run the following command/code in the container where the web GUI is running?
[code]
If this fails, you should check whether db.fluffi is fully accessible. If not, please let us know so that we can conduct furthe

[2020-04-09 08:34] joyride9999 commented on #132
Running on the container i got this :
[code]
So i replaced in config.py all references to scoekt.gethostbyname('db.fluffi') to 10.66.0.1.
(ps. if it is a requirement to have the ip 10.66.0.1 ... I don't see a reason to use socket.gethostbyname  anyway)
Also as on ubuntu18.04 desktop i could not make it work with networkd as per description, so i reverted back to networkmanager, and the network con

[2020-04-14 04:46] #131 closed, assigned to jones718

[2020-04-14 05:18] #103 closed, assigned to p0wer0xff

[2020-04-14 05:18] #112 closed, assigned to p0wer0xff

[2020-04-14 05:18] #114 closed, assigned to nobody

[2020-04-14 05:18] #115 closed, assigned to nobody

[2020-04-14 05:18] #116 closed, assigned to nobody

[2020-04-14 05:18] #129 closed, assigned to nobody

[2020-04-14 05:18] #130 closed, assigned to nobody

[2020-04-14 08:41] TomSie commented on #127
Apparently, there are multiple problems:
1) We need to document how to set up a local packet mirror (apt.fluffi)
2) The usage.md needs to mention that
- the system to be added needs to be able to reach a repository (either the real one, or a mirror)
- smbclient needs to be installed
3) The documentation to crate ubuntu images (ubuntu.md) needs to be updated to
- Set the packet mirror to apt.fluffi

[2020-04-14 08:44] TomSie commented on #125
now that the documentation is updated, do we still need this?

[2020-04-14 08:48] TomSie commented on #132
Replacing dns names with 10.66.0.1 will work if you run all server containers on the same machine. If, however, you distribute the containers accross multiple machines for load balancing, this will cause various bugs.

[2020-04-14 08:57] TomSie commented on #132
In general it looks as if you are having troubles with the network setup. @p0wer0xff : I think the documentation to set up the FLUFFI network is not yet complete. For example: /etc/systemd/network/fluffi.network and /etc/systemd/network/default.network are created but never used. @p0wer0xff : Could you please have a look?

[2020-04-14 14:20] joyride9999 commented on #132
I've recreated the VM and reinstalled all from scratch. Indeed looks like something was miss configured on the previous machine.

[2020-04-14 14:42] joyride9999 opened #134 "Adding systems to FUN"
Trying to add a system to FUN i get an message "Missing location!

To add systems to the database is a location necessary."

However don't really know what this represents and there is nothing mentioned in the Usage section!

[2020-04-15 03:58] #132 closed, assigned to p0wer0xff

[2020-04-15 04:23] TomSie commented on #122
Very good points. Could you please have a look at https://github.com/siemens/fluffi/tree/usage_docs_for_system_adding ? Does this answer your questions? If not: please let me know what is missing.

[2020-04-15 10:53] joyride9999 opened #137 "Fuzzjobs sync systems failed"
I keep getting the error
"Sync systems failed!

Something went wrong at the inital synchronization between PoleMarch and the database. Pleasy retry!"

![VirtualBox_ubuntu 18 04 main_15_04_2020_13_52_33](https://user-images.githubusercontent.com/26308356/79329409-6ea1cd00-7f20-11ea-9b08-61ba41c09d93.png)

[2020-04-15 11:00] joyride9999 opened #138 "polemarch & ansible & adding new systems & variables"
While adding new system to FUN, the variables defined in

/srv/fluffi/data/polenext/projects/1/hosts

in [windows:vars]  category where not imported in polemarch. Had to add them manually in polemarch for the system to have the status ok.

Maybe i did something wrong along the way... but i'm thinking in the usage section
[code]
this category should be expanded a bit and have more description on wh

[2020-04-15 11:37] TomSie commented on #138
Could you please post your /srv/fluffi/data/polenext/projects/1/hosts file?

[2020-04-15 11:48] joyride9999 commented on #138
[hosts.txt](https://github.com/siemens/fluffi/files/4480980/hosts.txt)

* it has txt type in order to be able to upload it here :)

[2020-04-15 11:52] TomSie commented on #134
It's documented as point 4) in the technical_details.md. I will add a reference to the usage.md

[2020-04-15 12:04] TomSie commented on #138
I think the problem is, that you need to specify your hosts like this:
`<hostname> ansible_ssh_host=<hostname>.fluffi`

You, however just changed the second <hostname> and left the first one as an example value. Can you please verify this (documentation is on the way).

[2020-04-15 12:53] joyride9999 commented on #138
does not seems to do it .. i tried for linux and changed to
[code]
![VirtualBox_ubuntu 18 04 main_15_04_2020_15_50_57](https://user-images.githubusercontent.com/26308356/79339163-23dc8100-7f31-11ea-97f0-4914c443a6a0.png)

![Capture](https://user-images.githubusercontent.com/26308356/79339474-a107f600-7f31-11ea-87f4-410bc0357a82.PNG)

[2020-04-15 13:32] joyride9999 opened #140 "missing documentation on how to start a fuzzjob"
Its needed to add information on how to actually start a fuzzjob :)
Would help a bit also if a small description is also added regarding on what the 4 steps are doing:
1) initial setup
2) deploy fluffi
3) deploy SUT/Dependency
4) configure instances
And also some description regarding the parameters in each tab.

[2020-04-16 05:52] joyride9999 commented on #122
yes, ty!

[2020-04-16 05:52] #122 closed, assigned to joyride9999

[2020-04-16 07:54] #134 closed, assigned to TomSie

[2020-04-16 07:54] #138 closed, assigned to joyride9999

[2020-04-16 08:03] TomSie commented on #127
3) is done with https://github.com/siemens/fluffi/commit/c45b4479396a098df83c45faf537786f22b36fb0

[2020-04-16 08:26] TomSie commented on #127
1. is done with https://github.com/siemens/fluffi/commit/cf1f3e4fd69b85c65341e5e49e1c0747d8d39f92

[2020-04-16 08:39] TomSie commented on #127
2. is done with https://github.com/siemens/fluffi/commit/8bce736a186d8eb157d9d4d46ee675cf4b1f4418

[2020-04-16 08:50] #127 closed, assigned to TomSie, p4cx, jones718

[2020-04-16 08:57] joyride9999 opened #142 "Deleting a system from web.fluffi buggy"
Trying to delete a system from web.fluffi ends up with error. Sometime happened that i could not see it on web.fluffi... but the system was in the database and could not add it again with the same name.
[code]

[2020-04-16 09:08] joyride9999 commented on #142
![VirtualBox_ubuntu 18 04 main_16_04_2020_12_07_33](https://user-images.githubusercontent.com/26308356/79437563-04019780-7fdb-11ea-8e3b-a43aae777e03.png)

[2020-04-16 09:18] joyride9999 opened #143 "deploy fluffi task failed"
[code]

[2020-04-16 09:44] p0wer0xff commented on #143
Does the file exist? You need to create the deployment file by doing a compile run of FLUFFI with the DEPLOY_TO_FTP parameter.

[2020-04-16 09:46] joyride9999 commented on #143
no, i forgot about this step :D

[2020-04-16 09:58] p4cx commented on #137
I can see the Polemarch tabs on the screenshot: Is it available at "pole.fluffi:8888/"? When I start Webgui and Polemarch, everything works. It almost looks like the Webgui is not reaching Polemarch.

[2020-04-16 10:07] joyride9999 commented on #137
yes it is available, will try to get a log if i see the error again

[2020-04-16 10:21] joyride9999 commented on #143
seems that for windows i need to build them on windows and then manually copy the zip files? is there  another way?
i'm guessing running buildAll.bat -DEPLOY_TO_FTP TRUE on windows will work only if the windows build machine is on the same network.
Maybe a mention of this will help also in the guideline!

[2020-04-16 10:25] p0wer0xff commented on #143
yes exactly, if you have the build machine on the same network, this switch will create the deployment file as well.

[2020-04-16 12:07] TomSie opened #145 "update copyright header"
currently all files start with

This needs to be changed to

[2020-04-16 12:16] TomSie commented on #140
4) is already documented in section 4) of usage.md

[2020-04-16 13:29] p0wer0xff commented on #145
Suggestion: If we need to touch all of the files anyway, we could try to work our way to a more standardized header format. Currently the three paragraphs of the MIT license are one line each, a more standard way to do it would be to limit line length to something like 80 characters. Formatting examples can be seen [here](https://github.com/jquery/jquery/blob/master/LICENSE.txt) and [here](https:/

[2020-04-16 16:18] jones718 commented on #142
This will be fixed by pull request #147.

[2020-04-17 04:52] TomSie commented on #145
disadvantage: our update authors script will have a strong bias towards the person that committed the license

[2020-04-17 07:23] p4cx commented on #145
What if we create a new github user to update the authors and header in general and add his name as an exception so that it doesn't appear in the header?

[2020-04-17 07:42] TomSie commented on #145
TeamFLUFFI ?

[2020-04-17 07:43] #142 closed, assigned to jones718

[2020-04-17 08:46] p0wer0xff commented on #145
I like that idea. Let's use "Team FLUFFI" (with a space), because that would be consistent with what I used when porting the repo to github, though I do not know if any lines with that author remain at all after fixing authorship in the first commits here.

[2020-04-17 08:51] #140 closed, assigned to TomSie

[2020-04-17 08:51] #143 closed, assigned to TomSie

[2020-04-17 09:27] p0wer0xff commented on #125
probably not for our use case, but it vexes me that v(ery)s(tupid)ftpd does not seem to mind `allow_writeable_chroot=YES` at all.

also, if someone wants to extend FLUFFI and needs new directories, it's just inconvenient not to have a writable root.

[2020-04-17 11:14] TomSie commented on #145
@jones718 could you please
1) Write a script that automatically updates the license headers for all possible comment types
- Set end date correctly
- Use different line formating
2) Update our Authors script to ignore all lines written by "Team FLUFFI"

[2020-04-17 11:17] TomSie commented on #125
Given that there is no easy fix, and the need for this feature is minimal, I would close this issue as won't fix for now. Is that fine with you?

[2020-04-17 11:19] TomSie commented on #128
is there still an action item here or can we close this issue?

[2020-04-17 11:21] #128 closed, assigned to p0wer0xff

[2020-04-17 11:26] joyride9999 opened #148 "Windows shortcuts on runner after deploy of fluffi are wrong"
After deploy fluffi action, the shortcuts are created with wrong path.
Also the path seems to be the only difference between "disk" and "ram" shortcuts

![VirtualBox_MSEdge - Win10_17_04_2020_14_25_38](https://user-images.githubusercontent.com/26308356/79564480-6af47e80-80b7-11ea-9276-5193fa6a09ec.png)

[2020-04-17 11:32] joyride9999 opened #149 "Usage and starting agents"
In the docs it is mentioned "Alternatively, you can connect to the system directly (SSH, RDP), and start the agents there." ...
Using only the interface LM, TR, TG and TE did not start automatically after deployment of fluffi ... so it seems to me that they can be started only by remote ssh/rdp

[2020-04-17 11:36] joyride9999 opened #150 "Order to start apps on agents"
Is not really clear in what order LM, T* should be started ... and it seems one agent is waiting for another
![VirtualBox_MSEdge - Win10_17_04_2020_14_36_02](https://user-images.githubusercontent.com/26308356/79565165-ca9f5980-80b8-11ea-9d1b-90bf7916dc85.png)

[2020-04-17 12:20] TomSie commented on #148
As far as I can see, the ramdisk (F) was not created.
Two questions:
Do the Disk shortcuts work?
Did you run the "initialsetup" step?

[2020-04-17 12:22] TomSie commented on #150
Actually, they are waiting for you to assign them on a fuzzjob.

This is done automatically, if the agents are started by the agentstarter.

If you start the agents manually, you have to assign them to a fuzzjob in the Location page

[2020-04-17 12:25] p0wer0xff commented on #125
So, we are running vsftpd version 3.0.3
![image](https://user-images.githubusercontent.com/55484502/79566708-4eeede00-80b3-11ea-8764-4693a800b8ac.png)
from the ubuntu repositories for 18.04 as per [Dockerfile](https://github.com/siemens/fluffi/blob/master/srv/fluffi/ftp/Dockerfile#L14) to which the sources are located [here](https://packages.ubuntu.com/bionic/vsftpd)

My initial gut feeling was th

[2020-04-17 12:25] #125 closed, assigned to p0wer0xff

[2020-04-17 12:25] joyride9999 commented on #148
yes the disk shortcuts start/work
and i run the initial setup step

[2020-04-17 12:28] p0wer0xff commented on #125
oh, btw, @maverickwoo you might be interested in this, since you originally brought it to my attention.

[2020-04-17 12:38] TomSie commented on #148
Did you replace the files in srv\fluffi\data\ftp\files\initial\windows\ansible\ImDisk with actual files, as documented in the getting_started.md ?

[2020-04-17 12:55] joyride9999 commented on #148
Something went wrong when i took lmdisk binary as it had 0 bytes.  I did again the initial setup step, but now its stuck with status "DELAY"!

[2020-04-20 04:21] TomSie commented on #148
Are you aware, that the binaries in the repository are just placeholders that need to be replaced with the actual files?

[2020-04-20 04:22] TomSie commented on #149
We need to document how the agent starter works, and what can be done manually (e.g. when debugging errors)

[2020-04-20 04:42] joyride9999 commented on #148
was saying that i remember  replacing them, but when i looked again the lmdisk file had 0 bytes :), so something went , so probably copy paste didnt work for some reason :)

[2020-04-20 04:44] TomSie commented on #148
is there an action item left here or should we close this issue?

[2020-04-20 04:48] joyride9999 commented on #148
well there is still a question, now the initial setup remains with the status "DELAY" ... should i redo the windows agent? or it should be able to "redeploy"
Also initially when i ran the deploy step ..it finished with status OK even though lmdisk file was not the real binary...  wouldn't an error message be more appropriate ...eg. for this case "can't create ram disk" or something similar!

[2020-04-20 04:52] TomSie commented on #148
redeploying the initial setup step should be fine.

DELAY is a polemarch specific state. It means "right now I cannot perform the task you gave me". Usually this happens if

-  The initial sync step failed (status of the FLUFFI project is not "OK")
- There is currently another task going on

I will create a new issue on the problem that initial setup succeeds although the binaries are invalid.

[2020-04-20 04:52] #148 closed, assigned to nobody

[2020-04-20 04:56] TomSie opened #151 "Initial setup succeeds with stub binaries"
Appatently, the initial setup step on windows succeeds in environments in which the binaries in /srv/fluffi/data/ftp/files/initial/windows/ansible were not replaced with actual files.

Please modify the /srv/fluffi/data/polenext/projects/1/roles/initial-windows* tasks to fail when the downloaded binaries are invalid (e.g. to small)

[2020-04-20 08:52] p0wer0xff commented on #151
we could run `file` against the "binaries" and see if they are text files or not

[2020-04-20 09:04] TomSie commented on #151
wouldn't work on Windows. Yes, we could do something fancy here, but i would stick to file size check for now.

[2020-04-20 09:16] #149 closed, assigned to TomSie

[2020-04-20 09:16] #150 closed, assigned to TomSie

[2020-04-21 11:17] joyride9999 opened #153 "Description for automatically starting LM"
In the usage section there is this phrase
"
IMPORTANT: When managing agents with the agent manager, you need to enable the agent manager by setting it to ACTIVE in the Options dialog on the Systems tab."

I would change it to
"IMPORTANT: When managing agents with the agent manager, you need to enable the agent manager by setting it to ACTIVE from the **Settings** button on the Systems tab"

[2020-04-21 16:19] joyride9999 opened #154 "deploy fluffi fails with "connection types on this machine is set to Public""
PLAY [windows] *****************************************************************

TASK [Gathering Facts] *********************************************************
ok: [batrix3]

TASK [initial-windows-Timezone : Set timezone to 'Romance Standard Time' (GMT+01:00)] ***
ok: [batrix3]

TASK [initial-windows-GFlags : Ensure source directory exists] *****************
ok: [batrix3]

TASK [initial-windows

[2020-04-21 16:21] joyride9999 opened #155 "Deploy fluffi reports OK but has error"
PLAY [windows] *****************************************************************

TASK [Gathering Facts] *********************************************************
ok: [batrix3]

TASK [initial-windows-Timezone : Set timezone to 'Romance Standard Time' (GMT+01:00)] ***
ok: [batrix3]

TASK [initial-windows-GFlags : Ensure source directory exists] *****************
ok: [batrix3]

TASK [initial-windows

[2020-04-21 16:21] joyride9999 opened #156 "Deploy fluffi reports OK but has error"
[code]

[2020-04-21 16:52] satyendra22 opened #157 "ERROR: for fluffigm Cannot start service fluffigm: OCI runtime create failed: container_linux.go:349: starting container process caused "exec: \"./GlobalManager\": stat ./GlobalManager: no such file or directory": unknown""
While starting container getting error as

`ubuntu@ubuntu1804:~$ cd FLUFFI/srv/fluffi/
ubuntu@ubuntu1804:~/FLUFFI/srv/fluffi$ sudo docker-compose -f /srv/fluffi/docker-compose.yaml up -d --force-recreate
Removing fluffi_fluffigm_1
Recreating fluffi_mon_1 ...
Recreating fluffi_polenext_1 ...
Recreating fluffi_fluffiweb_1 ...
Recreating fluffi_dnsmasq_1               ... done
Recreating fluffi_polen

[2020-04-22 04:24] TomSie commented on #154
Apparently, we need to add a step in the srv/fluffi/data/polenext/projects/1/roles/initial-windows-PrepareEnvironment/tasks/main.yml to make sure all network adapters are set to 'Private'. I think a good way to do so is documented at http://www.hurryupandwait.io/blog/fixing-winrm-firewall-exception-rule-not-working-when-internet-connection-type-is-set-to-public

Please note: Although there seems t

[2020-04-22 04:26] TomSie commented on #155
duplicate of #154

[2020-04-22 04:26] #155 closed, assigned to nobody

[2020-04-22 04:28] TomSie commented on #156
Duplicate of #154

[2020-04-22 04:28] #156 closed, assigned to nobody

[2020-04-22 04:29] #137 closed, assigned to p4cx

[2020-04-22 04:33] TomSie commented on #157
did you perform all the steps documented in the getting_started.md? In particular, did you run `sudo chmod -R +x /srv/fluffi/data/fluffigm`?

[2020-04-22 04:35] TomSie commented on #157
Also: Could you show us the output of `file /srv/fluffi/data/fluffigm/GlobalManager` ?

[2020-04-22 09:34] joyride9999 commented on #154
Please note that it seems there is also a problem with polemarch reporting system... although some tasks had errors they are reported as OK

[2020-04-22 09:35] joyride9999 opened #158 "Add task schedule to run lm script at start up failed"
[DEPRECATION WARNING]: Instead of sudo/sudo_user, use become/become_user and
make sure become_method is 'sudo' (default). This feature will be removed in
version 2.9. Deprecation warnings can be disabled by setting
deprecation_warnings=False in ansible.cfg.

PLAY [linux, odroids] **********************************************************
skipping: no hosts matched

PLAY [windows] *****************

[2020-04-22 09:37] TomSie commented on #154
Imho this works as intended: The first 7 tasks passed (ok/changed), and the 8th task failed.
At the bottom a summary is displayed
`batrix3 : ok=7 changed=2 unreachable=0 failed=1 skipped=0 rescued=0 ignored=0`

[2020-04-22 09:37] joyride9999 opened #159 "Fetch Rest-Instance-Starter-Autostart failed"
[WARNING]: While constructing a mapping from /usr/local/lib/python3.6/dist-
packages/polemarch/projects/1/roles/general-windows-
syncToRamdisk/tasks/main.yml, line 25, column 3, found a duplicate dict key
(win_file). Using last defined value only.

[DEPRECATION WARNING]: Instead of sudo/sudo_user, use become/become_user and
make sure become_method is 'sudo' (default). This feature will be removed

[2020-04-22 09:46] joyride9999 commented on #154
:)) well it creates a pretty confusing situation because you expect that the task is ok as you see first the status without clicking on the details output, and that say its ok but its actually not.
A normal behaviour would be one task failed -> the entire status should be "ERROR" or at least this is how i would see it :)

![Capture](https://user-images.githubusercontent.com/26308356/79967017-f2b30

[2020-04-22 11:31] TomSie commented on #158
1) is the bug reproducible?
2) is there a manageFluffiRamdisk.bat in %SYSTEMROOT%\System32\GroupPolicy\User\Scripts\Logon ?

[2020-04-22 11:36] TomSie commented on #159
1) Is that a Windows 7 machine?
2) Is the bug reproducible?

We hat the problem that on Windows 7 machines sometimes the ftp download failed.

[2020-04-22 11:49] joyride9999 commented on #158
1) yes
[code]
2) yes the script is there

[2020-04-22 12:02] joyride9999 commented on #159
1) no, its win 10 enterprise (eval) 1809
2) now it does not get to that step, it fails earlier
[code]

[2020-04-22 12:32] TomSie commented on #159
So this time it looks as if the ramdisk is not there? Maybe this is connected to #158 ?

[2020-04-22 12:34] TomSie commented on #158
could it be that the user running the ansible task does not have the necessary privileges? We use the local "Administrator" in our setup

[2020-04-22 12:48] joyride9999 commented on #158
same here, its the same user and its in the administrators group

[2020-04-22 12:51] joyride9999 commented on #159
maybe that's why it fails, because the ramdisk is already there and can't create it again..therefore it does not reach the step mentionen initially in the bug

[2020-04-22 15:50] #157 closed, assigned to nobody

[2020-04-22 15:50] satyendra22 commented on #157
@TomSie i re-install complete setup and error is gone ..Thx

[2020-04-22 16:35] satyendra22 opened #160 "502 bad gatway Error while access Web fluffi (http://localhost:8880)."
- Starting container de-attach mode
`sudo docker-compose -f /srv/fluffi/docker-compose.yaml up --force-recreate`

Saw error in log as "fluffiweb_1  | (pymysql.err.InternalError) Packet sequence number wrong - got 1 expected 0"
[code]

[2020-04-23 04:35] TomSie commented on #160
1) It looks as if the fluffi_gm is not started due to the missing GlobalManager binary: `fluffigm_1   | standard_init_linux.go:211: exec user process caused "no such file or directory"`
2) I am not sure polemarch is working as intended ("already initialized, retrying"-loop)

Both, however will not lead to a "502 bad gateway" error. I am not sure whether the moment in which you requested the web si

[2020-04-23 04:52] TomSie commented on #158
Hmm ... It says failed to update. Have you checked if there already is a Windows scheduled task called syncFluffiToRAM?

Btw: We are talking about the last entry in
srv/fluffi/data/polenext/projects/1/roles/initial-windows-Imdisk/tasks/main.yml
maybe you can play a little bit around with that and try to debug it?

[2020-04-23 05:11] joyride9999 commented on #158
the task is there !

sure ill give it a look and try to figure out whats happening

[2020-04-23 07:20] joyride9999 commented on #158
Is there a specific version of imdisk that should be there? (i have 2.0.10.49)
1) at first glance seems that the task is not running at reboot
2) F: ramdrive is not there anymore, running the task manually ends up in requesting me to format it
![VirtualBox_MSEdge - Win10_23_04_2020_10_19_29](https://user-images.githubusercontent.com/26308356/80070707-0ff5d800-854c-11ea-8b63-bc6e613c2184.png)

[2020-04-23 07:24] TomSie commented on #158
maybe it's better to reinstall the agent system and run the task on a fresh installation. All of these issues look strange.

[2020-04-23 07:29] joyride9999 commented on #158
will do that ,
regarding the task it looks like it failed to add the trigger action (as there is nothing in that tab)
![VirtualBox_MSEdge - Win10_23_04_2020_10_29_24](https://user-images.githubusercontent.com/26308356/80071462-57309880-854d-11ea-8852-5a4de3b98dea.png)
![VirtualBox_MSEdge - Win10_23_04_2020_10_26_36](https://user-images.githubusercontent.com/26308356/80071472-5d267980-854d-11ea-938

[2020-04-23 08:52] #153 closed, assigned to TomSie

[2020-04-23 09:05] p0wer0xff commented on #160
I think for debuggung purposes it would be better to detach from the containers and look at the logs separately.
You can specify which output logs to view when you run `docker-compose logs -f <servicename[s]>` - then you only get the specified containers log output, not everything mangled together. The `-f` parameter for the `logs` command works the same way it does in `tail`, it _follows_ new out

[2020-04-23 18:01] satyendra22 commented on #160
@TomSie Please have a look below while accessing web.fluffi. Also I'm able to access polemarch but not sure about GlobalManger issue. I have already copied GlobalManager as sggusted in doc.

fluffiweb_1  | uWSGI running as root, you can use --uid/--gid/--chroot options
fluffiweb_1  | *** WARNING: you are running uWSGI as root !!! (use the --uid flag) ***
fluffiweb_1  | *** uWSGI is running in mult

[2020-04-24 04:23] TomSie commented on #160
well, I think the central part here is

Can you connect to db.fluffi?

[2020-04-24 13:36] p0wer0xff opened #163 "restrict logging repetition"
When something goes wrong, FLUFFI generates so many log entries per second that it gets hard to see what is actually going wrong.

![image](https://user-images.githubusercontent.com/55484502/80217966-cdfa8e00-8640-11ea-8586-7d53b8591ed7.png)

Maybe we need to implement some form of rate limiting or backing of if the message is the same one again and again.

[2020-04-24 14:09] TomSie opened #164 "Links not working without ngnix"
mon.fluffi not working -> mon.fluffi:8885 works

[2020-04-24 14:21] p0wer0xff opened #165 "web interface: mon url does not work without reverse proxy"
The frame in the starting page does not show graphs if we have no reverse proxy set up.
We should either make this step mandatory in the getting started guide, or make the web interface point to the correct port (8885) for the grafana interface so it works without nginx.

[2020-04-24 14:22] p0wer0xff commented on #164
whoops, made a duplicate of this. closing yours because mine is more verbose 0:-) - see #165

[2020-04-24 14:22] #164 closed, assigned to nobody

[2020-04-27 08:48] joyride9999 opened #166 "win10 enterprise 18362 & winrm"
Seems that when using a newer version of windows , ansible is not able to connect through winrm ( firewall is off)
Winrm is configured as in prtscreen... should something else be done?
![winrm](https://user-images.githubusercontent.com/26308356/80352717-f8d12600-887c-11ea-87f4-d4664b70aa9b.png)

Patch "Windows6.1-KB2819745-x64-MultiPkg.msu" is for win 7 so it will fail on win 10.
Is there a constr

[2020-04-27 08:53] TomSie commented on #166
did you run the initialConfiguration.bat?

[2020-04-27 09:01] TomSie commented on #163
In error situations I prefer fighting the root causes instead of fighting the symptoms. While doing so it usually helps me having as much output as possible. There might even be scenarios in which  a "rate limiting" might discard the essential information.

However, I agree, that in normal operation there should be very little log messages.

[2020-04-27 09:01] joyride9999 commented on #166
yes, after running the script file it did not work, and then start in looking why and then checking the winrm service

[2020-04-27 09:05] TomSie commented on #166
we use Windows 10 ourselves. Maybe the problem is related to the network adapters not being set to "private" network?

[2020-04-27 09:05] joyride9999 commented on #166
they are also set to private

[2020-04-27 09:08] TomSie commented on #166
is the port reachable? What does nmap say?

[2020-04-27 09:19] joyride9999 commented on #166
no is not reachable...
[code]
however running winrm enum winrm/config/listener
[code]
so im guessing listeningon = null is the problem here

[2020-04-27 09:31] joyride9999 commented on #166
it should look like that
[code]
I will do a second test with a new machine and run each command manually and see if it fails again and where

[2020-04-27 10:13] joyride9999 commented on #166
It looks like its working now, can't really bring it to the previous state

[2020-04-27 10:13] #166 closed, assigned to nobody

[2020-04-27 10:44] joyride9999 opened #167 "Hardcoded path in initial-windows-deployRestInstanceStarter/tasks/main.yml"
The following task fails because it has "administrator" harcoded in user path. While in this case i'm logged with user "user" and there is no user "administrator".
I think it should be possible to use "%appdata%\\Microsoft\\....." or the "ansible_user" variable defined for the host.

[code]

[2020-04-27 11:08] TomSie commented on #167
You are right, this should be changed to ansible_user

[2020-04-28 06:31] joyride9999 opened #168 "Task Start-windows-restInstanceStarter fails"
[code]

[2020-04-28 07:36] joyride9999 opened #169 "Agents not starting automatically :/"
After waiting for some time , seems that the agents wont start automatically...
What should i check for next ?

1)Scheduled task is there
2) manageFluffiRamdisk - is there
3) ramdrive is created
4) initial setup and deploy fluffi run ok
5) instances were created

![image](https://user-images.githubusercontent.com/26308356/80459885-ba4e7080-893b-11ea-8f2c-2d87d3638f48.png)

[2020-04-28 08:00] joyride9999 opened #170 "Documentation usage ... creating fuzzjobs"
When creating a fuzzjob the following items were not clear
1) If the binary /app is already installed on the machine then there should not be any need for target upload so this can be left empty?
2) Population - this is a zip file? a text file ? format ?

All in all i think what the usage section is lacking is actually a couple of examples for creating a small/dummy task on different os machines .

[2020-04-28 08:05] TomSie commented on #168
What happens if you run the command

``` C:/utils/PsExec/PsExecx64.exe -accepteula -nobanner -u user -p user -d -i  python C:\\FLUFFI\\restStarter\\main.py C:\\FLUFFI```

directly on the machine? please note user and passwort need to be correct

[2020-04-28 08:07] TomSie commented on #169
what about #168 ? Without the instance starter, instances won't start ;)

[2020-04-28 08:16] #159 closed, assigned to nobody

[2020-04-28 08:18] joyride9999 commented on #158
closing this as it seems as i couldnt simulate on another machine

[2020-04-28 08:18] #158 closed, assigned to nobody

[2020-04-28 08:27] joyride9999 commented on #168
well there is no PsExec in c:\utils

[2020-04-28 08:38] TomSie commented on #168
hmm ... apparently we forgot to open source this.
Todo: The Psexec installation needs to be converted from a "activePackage" (as it is now in our installation) to a polemarch task similar to initial-windows-GFlags.

[2020-04-28 08:45] joyride9999 commented on #169
then im closing this one as it s duplicate of #168

[2020-04-28 08:45] #169 closed, assigned to nobody

[2020-04-29 13:30] jones718 commented on #165
Fixed in pull request #171

[2020-04-30 06:32] joyride9999 commented on #168
does python needs to be installed on the agent?

[2020-04-30 07:19] TomSie commented on #168
yes. Second todo: python installation needs to be converted from a "activePackage" (as it is now in our installation) to a polemarch task similar to initial-windows-GFlags.

[2020-04-30 07:22] joyride9999 commented on #168
also is there a requirement for a specific version of python? or latest would do it?

[2020-05-04 05:02] #165 closed, assigned to p4cx, jones718

[2020-05-04 08:45] joyride9999 opened #173 "Automatic starting of fuzzjobs"
Managed to automatically start the LM,TE,TR,TG however something goes wrong after that :
1) the LM output looks like this
[code]
If i check the managed_instances table it is empty .

2) TR, TE, TG output looks like this:
[code]

[2020-05-04 09:22] TomSie commented on #173
how long does it look like this? If you used the agent starter, TR,TG, and TE should start working after about a minute or so

[2020-05-04 09:23] joyride9999 commented on #173
it looks like it goes forever :), after a while TR,TG, TE close and then  restart again and so on

[2020-05-04 09:30] TomSie commented on #173
it might be an architecture missmatch. What "runnerType" did you specify, and what is the architecture you configured for the agents?

[2020-05-04 09:34] joyride9999 commented on #173
runner type is X64_Win_DynRioSingle and they are 64 bits

[2020-05-04 09:41] TomSie commented on #173
So I think the central line above is " it is not yet decided what we should do!". This means, the agents connect to the GM, which then claims that there is no fuzzjob for them.

The agent starter should do this assignment automaticly. Can you try running the srv\fluffi\data\polenext\manageAgents.py in debug mode?

[2020-05-04 09:57] joyride9999 commented on #173
[code]

[2020-05-04 11:26] TomSie commented on #173
hmmm apparently assign_agents_to_fuzzjobs isn't actually assigning agents. can you insert some debugging code and investigate why?

[2020-05-04 11:28] joyride9999 commented on #173
will try

[2020-05-04 12:31] joyride9999 commented on #173
Well it seems first problem is this line 357 in manageAgents.py
[code]

As the system was added as win101 , the hostname is WIN101 !
I believe solution would be to add a caseinsensitive comparison as the host name is case insensitive.

[2020-05-04 12:53] joyride9999 commented on #173
however seems they still wont start,
manageAgents.py looks ok after correcting the hostname. What should i look into more?
[code]

[2020-05-05 04:10] TomSie commented on #173
So now it looks as if the agents get assigned a fuzzjob. What's the output of LM and let's say TE?

[2020-05-05 04:15] TomSie opened #175 "DNS Names should be case insensitive"
Line 357 in manageAgents.py causes problems if there are case inconsistencies in host names
[code]

If, for example, a system was added as win101 , and the hostname is WIN101, no new agents will be assigned.

As Windows DNS seems to be case insensitive anyways, we should make the comparison case insensitive.

_Originally posted by @joyride9999 in https://github.com/siemens/fluffi/issues/173#issuec

[2020-05-05 06:04] joyride9999 commented on #173
LM :
[code]
TE :
[code]
TE, TR, TG are closing after a 1-2 minutes and then restart again

[2020-05-05 06:06] TomSie commented on #173
could you post the entire output up until two minutes or so?

[2020-05-05 06:12] joyride9999 commented on #173
edited the previous answer

[2020-05-05 06:20] TomSie commented on #173
for some reason f8a5bca4-3dd3-470b-a5fa-38f2cb66e5d6 was not assigned according to the output of the manageAgents.py script. Could it be, that you are still fighting the case sensitivity problem?

[2020-05-05 06:23] joyride9999 commented on #173
i changed the hostname in polemarch and web.fluffi ... i guess it shouldn't do that anymore ...is there other way to verify?

[2020-05-05 06:25] joyride9999 commented on #173
ill do another agent and test also with that one and delete the current one ... to see if we will end up in the same situation ... just to eliminate the host name problem

[2020-05-05 08:29] joyride9999 commented on #173
still the same ...
[code]

[2020-05-05 08:35] TomSie commented on #173
So there should be three workers running:
 'eab846dd-be46-4e51-9098-2d86163b1f7c';
 'cd5d9872-72b6-488a-beb5-2ef44c3e4d3c';
 'dc5fd501-9823-4f5e-856e-5a388d441f4d';
could you post their output?

also: could you post the content of the  fluffi_gm.workers  database table?

[2020-05-05 09:06] #145 closed, assigned to jones718

[2020-05-05 09:19] joyride9999 commented on #173
The thing is that the guid is changing each time they are restarted, so these are not constant. However the output looks similar to the previous ones.

CSV
[code]

[2020-05-05 09:31] TomSie commented on #173
What you can see here is, that the first three agents (TR,TE,TG) got assigned to Fuzzjob 4. So the assignment seems to work.

can you check if this query works? this is what the GM does when the agents request their fuzzjob

"SELECT localmanagers.ServiceDescriptorGUID, localmanagers.ServiceDescriptorHostAndPort FROM workers, localmanagers WHERE workers.ServiceDescriptorGUID = ? AND workers.Locatio

[2020-05-05 09:39] joyride9999 commented on #173
localmanagers table is empty

[2020-05-05 09:43] TomSie commented on #173
aaah I think now we're getting closer. Can you post the GM log? should be in srv\fluffi\data\fluffigm\logs

[2020-05-05 09:48] joyride9999 commented on #173
[code]

[2020-05-05 09:58] TomSie commented on #173
mhh ... there is no "Registering ... for fuzzjob 1" from today. Is the log complete?

Also, the repeting "... does not respond! Deleting it!" 3 minutes after a LM was created is alarming. Can you resolve your runner systems from the global manager docker container? It looks as if the GM cannot connect to the agents - which means the entire system won't work

[2020-05-05 11:10] joyride9999 commented on #173
That is all there is in the log... also redone the diocker containers and added ping into fluffigm
[code]

[2020-05-05 12:50] TomSie commented on #173
does starting the agents manually and assigning them a fuzzjob manually work?

[2020-05-05 13:23] joyride9999 commented on #173
does not seem to work,
however when manually assigning i dig up this error that seems to repeat itself in web.fluffi
[code]

[code]

[2020-05-05 13:26] TomSie commented on #173
Something is very strange with this setup.
@jones718 : Could you please have a look at this?

[2020-05-05 18:13] maverickwoo opened #176 "Obtaining the number of available CPUs"
We have recently moved the building of fluffi-core to an LXD container that has been set with a CPU limit to restrict the number of available CPUs. (Here we will use the term "CPU" laxly and ignore hyperthread considerations.)

At present, inside a nested Docker container, `cat /proc/cpuinfo | grep processor | wc -l` gets the number of CPUs present and not the number of CPUs available. In our sett

[2020-05-07 07:20] TomSie opened #178 "Sort Log messages from old to new + Increase log window size"
Both LM Log messages and Agent Log messages should be sorted from new (first page) to old (last page).

Furthermore, the width of the Agent Log message windows should be increased.

[2020-05-08 13:42] jones718 commented on #175
Fixed in pull request #179

[2020-05-08 16:11] jones718 commented on #173
Hi, where exactly does this pymysql.err.InternalError appear in web.fluffi ?

[2020-05-08 16:22] joyride9999 commented on #173
I saw the error in the log of the container

[2020-05-08 16:30] joyride9999 commented on #173
e.g.
POST /locations/assignWorker/4e304987-8dd0-4f6b-a4fa-24324aa2732a

[code]

[2020-05-11 04:41] #175 closed, assigned to jones718

[2020-05-11 07:03] TomSie commented on #178
apparently sorting works as expected (my test data was buggy). However: please increase the window size

[2020-05-12 04:52] TomSie commented on #163
We could do something with MAX_LOG_FILE_SIZE  and `el::Helpers::installPreRollOutCallback(PreRollOutCallback);`

[2020-05-13 12:06] TomSie opened #181 "Create fuzzjobs with "-" in their name causes a crash"
Please modify the web gui to prevent "-" in fuzzjob names for now

[2020-05-13 12:12] p0wer0xff commented on #181
The reason for this is that a database name is generated from the fuzzjob name.

Here a job named `fuzzjob-h2` was created:
[code]

This causes an entry in the `fluffi_gm` database for the fuzzjob, but does not actually create that database. Accessing the web interface after this causes the whole webapp to crash:
[code]

It should be enough to filter database name creation.

[edit:] Also, I'm pret

[2020-05-14 11:37] TomSie opened #182 "Initial Testcases appear to loose their nice name"

[2020-05-19 21:39] maverickwoo opened #185 "Explicitly list dependencies in makefile or use auto dependency generation"
The present `core/makefile` depends on shell tricks to list dependencies. This is error-prone.

Example: A change in `core/LocalManager/LMDatabaseManager.h` may not trigger a rebuild of the `LocalManager` binary. Specifically,

https://github.com/siemens/fluffi/blob/6fd185743822c9e48973a426cecd0081ac3e3e86/core/makefile#L168

leads to the var definition in

https://github.com/siemens/fluffi/blob/6

[2020-05-20 08:34] #151 closed, assigned to p4cx

[2020-05-20 08:34] #154 closed, assigned to p4cx

[2020-05-20 08:34] #167 closed, assigned to p4cx

[2020-05-20 08:34] #168 closed, assigned to p4cx

[2020-05-20 11:57] #182 closed, assigned to TomSie

[2020-05-20 13:04] p4cx opened #187 "Systems sync in webgui is not thread/process-safe"
When the webgui starts, it tries to synchronize the systems from the Polemarch host file with the database. Sometimes that doesn't work. The function should be called again during a page load in the webgui until the synchronization has worked. To do this, however, the synchronization must be thread- and process-safe, since two synchronizations at the same time can be really bad.

[2020-05-20 13:38] p4cx opened #188 "Update name of population entry in webgui fails"
If the name of an originally uploaded testcase in population view is changed, it works. However, if you change the name of a testcase that was not originally uploaded, it will not be changed.

[2020-05-25 13:59] TomSie opened #191 "Download of gdb crashes fails"
Maybe, because the modules contain /.text and similar ?
![image](https://user-images.githubusercontent.com/16607413/82819410-a0ec0600-9ea0-11ea-9809-fdafbc4a15e7.png)

![image](https://user-images.githubusercontent.com/16607413/82819454-b19c7c00-9ea0-11ea-8262-42b3f7374d2e.png)

[2020-05-25 14:01] #178 closed, assigned to jones718

[2020-05-25 16:39] jones718 commented on #181
Fixed with pull request #192

[2020-05-26 14:49] p0wer0xff commented on #185
I am aware the current makefile has several shortcomings, including the header dependency issues you describe. It has, as many things have, grown over the course of the project to be too complex and confusing to maintain properly. We should mid to long term replace it. I intend to move the whole build to cmake in the future, but my time is currently limited. Let's keep this open as a feature to be

[2020-05-26 14:54] #181 closed, assigned to jones718

[2020-05-26 16:13] maverickwoo commented on #185
Yes, we also think moving to cmake in the long term is a great idea. Internally, we are slowly growing our CMakeLists.txt; that was forced because we use CLion, which defines a project using CMakeList.txt, and we want auto-completion and definition look-up to work inside the IDE.

I think over time this effort may evolve into something that we can base the fix to this PR on. This is especially aft

[2020-05-27 03:54] #126 closed, assigned to p0wer0xff

[2020-05-27 03:59] TomSie commented on #185
I just added the help wanted label. Any help migrating our current make file to cmake is welcomed :)

[2020-05-27 04:00] #176 closed, assigned to p0wer0xff

[2020-05-27 14:10] jones718 commented on #188
Fixed by pull request #196

[2020-06-02 07:29] #188 closed, assigned to p4cx, jones718

[2020-06-04 11:54] jones718 commented on #173
Sorry for the late reply. In this error it seems like you are assigning the select option 'Unassigned'. I'm fixing this bug right now by adding an error message for this case. Does your fuzzjob not appear in the select dropdown?

[2020-06-04 12:23] joyride9999 commented on #173
hey,
if i remember correctly there was no option in the dropdown, so i assumed that once i click assign it will get filled !
Now it seems i can't find that page :), how do i navigate to it ( i mean the page for manual assignment)? :)

[2020-06-04 12:34] jones718 commented on #173
Hi, the page should be available when you click on the location. (top navbar -> Locations -> yourlocationname)

[2020-06-04 12:42] joyride9999 commented on #173
yes i found it, forgot to start on agent the LM, TE, TG, TR so nothing was appearing there.
Anyway now it seems to work ...
Coming back to the initial problem i think the reason why nothing was appearing in the dropdown was because the project had to be assignned also for the location. And because i did several projects and deleted them...at some point probably i forgot to assign it again.

[2020-06-04 21:14] jones718 commented on #173
Alright yes that makes sense :)

[2020-06-04 21:48] jones718 commented on #173
Solved and bug fixed in pull request #197

[2020-06-04 21:48] #173 closed, assigned to jones718

[2020-06-11 18:51] #160 closed, assigned to nobody

[2020-06-11 18:53] satyendra22 commented on #160
closing issue due to bypass this issue

[2020-06-15 13:24] jones718 commented on #191
Fixed in pull request #198.

[2020-06-16 04:19] #191 closed, assigned to jones718

[2020-06-22 10:17] amb42 opened #200 "Information in web application: Show last added population date/time"
It would help to quickly know whether something has changed since the last time we checked the dashboard

[2020-06-22 10:18] amb42 opened #201 "Web application: Allow quick rerun of a crash"
And add additional information about it:
 - Values of registers
 - Instruction pointer and where it points to
 - Type of crash

Best would be an option of running the testcase n times, and then cluster the output

[2020-06-22 10:21] amb42 opened #202 "Information in web application: Show coverage distribution across modules"
Show the general coverage distribution.
For bonus points, allow selecting one or more testcases and show the coverage distribution there.

This coverage information should also include information about the functions triggered, not just basic block information.

[2020-06-22 10:22] amb42 opened #203 "Information in web application: Diff coverage between parent and this testcase"
Allow selection of a testcase and show what it added coverage-wise compared to the parent.

If the information is available, also show the changes (more coverage in module a function x, less in module b function y)

[2020-06-22 10:23] amb42 opened #204 "Information in web application: Diff between parent and this testcase"
When selecting a testcase, give me a simple diff of the testcase and the parent(s).

[2020-06-22 10:24] amb42 opened #205 "Information in web application: Show testcase hexdump"
Add a simple hexdump view of a selected testcase

[2020-06-22 10:25] amb42 opened #206 "Information: Automatically report which modules the binary has"
Allow easy adding and removing of those modules for the coverage analysis

[2020-06-22 10:27] amb42 opened #207 "Baseline run"
Add a baseline testcase: One file (not necessarily part of population), that basically proves the setup is working. Couldbe used to gather modules or decide whether a restart is necessary

[2020-06-22 10:57] TomSie opened #208 "Add support for binaries without static user32 linking"
Attaching to services/processes with dynamorio only works if the target process loads the user32.dll.

We should write a little tool/script that modifies Windows executables to add a dependency for user32.dll.

[2020-06-22 12:54] TomSie opened #209 "Implement noCov runner"
Idea: call external Feeder (e.g. python) and report external Feeder's execution output

Advantage: noCov runner doesn't need debugging access/coverage
Disadvantage: Population will be limited to initial population

[2020-06-23 04:50] TomSie opened #211 "Preselet Architecture in Managed Instances view"
In Managed Instances View an Architecture needs to be chosen.

It should be preselected with what is already configured:

-  if a system has e.g. 4 x86 testcase runners, then the architecture for TestcaseRunners on that system should be preselected to x86

- if there are not yet any agents of a certain type on a system, the architecture should be preselected based on the runnerType setting (if pre

[2020-06-23 04:58] TomSie opened #212 "Fuzzcmp: Identify and patch inlined compare function"
Idea:

- Identify inlined compare functions, such as strcmp, and memcmp (see also attached paper)
- Patch these functions to point to fuzzcmp functions

Paper on that topic:
[jingqiu2015.pdf](https://github.com/siemens/fluffi/files/4817216/jingqiu2015.pdf)

[2020-06-23 05:02] TomSie commented on #200
What do you think about giving numbers that changed a bold font? (e.g. number of population items?)

[2020-06-23 05:10] TomSie commented on #201
Giving runners explicit orders is not possible in the current architecture and would require a architecture change. Implementing that change might be worthwhile though, as this would allow sophisticated generators issue commands like "Runner: Run this for me and tell me what happened".

However, given our current resource situation, what do you think about this: Implement several "post crash" beha

[2020-06-23 05:15] TomSie commented on #202
If I understand you correctly, there are several tasks:

1) Show coverage per testcase
2) Show coverage per module ( for selected testcase(s) and globally)
3) Figure out how to map basic block to function (maybe by uploading something generated by ida?)
4) Show coverage for functions (for selected testcase(s) and globally)

Is that what you wish for?

[2020-06-23 06:47] TomSie commented on #205
Should look like this:

![image](https://user-images.githubusercontent.com/16607413/85369867-27424900-b52e-11ea-9bf4-7c93e80a592a.png)

[2020-06-23 06:55] TomSie commented on #204
If I could wish for something, than it should look like this:

![image](https://user-images.githubusercontent.com/16607413/85370621-442b4c00-b52f-11ea-8e7e-16fa6a84b6d1.png)

[2020-06-23 07:09] TomSie commented on #206
Are you talking about static or dynamic analysis? If dynamic, I think this requests depends on https://github.com/siemens/fluffi/issues/207 to be implemented first.

[2020-06-23 07:21] TomSie commented on #207
We could simply add a "baseline testcase", that will trigger a target restart if it fails.

The output of that testcase could be a module list, thereby allowing the implementation of #206

[2020-06-23 08:56] amb42 commented on #206
Dynamic would be nicer, but even a static implementation would be neat.

[2020-06-23 09:01] amb42 commented on #200
Sure, but i would still like to know when the last addition happened, also as a quick and dirty heuristic to know whether it's worth continuing the job

[2020-06-23 09:02] TomSie commented on #206
static (recursive) dependency analysis should be easy to implement

[2020-06-23 09:04] TomSie commented on #200
How should it look like?

[2020-06-23 09:11] amb42 commented on #201
Sure, though having a way of quickly rechecking something would still be really nice.

What do you think of this: Having an always selected "generator" that only passes on exactly these testcases? So the queue would always be empty unless you have special testcases thrown in there by the webapp.

[2020-06-23 09:16] TomSie commented on #201
would work, given we also have a special evaluator at the other end.

Then the LM would need to say "ok you runner there get testcases from the special generator and report it to the special evaluator". This is perfectly implemented in the architecture.

[2020-06-23 09:23] amb42 commented on #200
I would have suggested a simple row in the "General information" project overview with "Last Addition" and then the datetime on the other side.

If that would cause too much bloat, maybe as a a mouseover on "Population"?

[2020-06-23 09:26] amb42 commented on #202
And a fifth: Show coverage distribution across modules (pie chart or similar).

[2020-06-25 05:04] TomSie opened #215 "Remove option "Add target files to Fuzzjob" (make it what always happens)"
When a new target zip file is uploaded for a fuzz job via the "upload new target" button the following should happen:
1) It should be checked if there already is a zip file for that fuzzjob
2) If there is, this file should be overwritten (note: if the uploaded file has a different name from the original file, the name of the original file needs to be kept)
3) If there is not, the uploaded file sho

[2020-06-25 07:12] #187 closed, assigned to p4cx

[2020-06-26 08:38] TomSie commented on #212
Also: identify strcmp and therelikes that were statically linked

[2020-06-26 09:47] #170 closed, assigned to TomSie

[2020-06-26 17:02] joyride9999 commented on #208
Hi, would like to give this enhancement a shot.
To be on the same page:
- i guess this targets especially window console apps ?
- i see 2 ways:
      - either patching the file, by using some kind of resource editor ... ofc the file signature will be broken so windows UAC might not like this
      - installing a hook that loads does a LoadLibrary(user32.dll) in the process space

Integration with

[2020-06-29 05:06] TomSie commented on #208
Hey,
thank you for your help!

A little information about the background of this task: What we basically need this for is running Windows service binaries in dynamorio. There are two ways to do so: 1) Start the target with drrun 2) use the AppInit_DLLs method.

In certain scenarios we need to use AppInit_DLLs. This method, however only works if the target process loads the user32.dll at its very s

[2020-06-29 05:38] joyride9999 commented on #208
Thanks for the overview, i prefer also c++ :), also i've done something similar before (processing the PE file and changing some stuff there) so i have a bit of experience in this area !

[2020-06-29 07:30] amb42 opened #219 "Show IP address of system in system overview"
Just a small quality of life feature

[2020-06-29 07:34] TomSie commented on #219
when implementing this please do check if a dns resolve every time the system overview is loaded / refreshed slows down the page loading significantly. If it does: implement it a different way (e.g. caching the ip addresses)

[2020-07-01 04:34] TomSie opened #220 "Fuzzcmp: Add ability to patch statically linked compare functions"
E.g. via a config file

mainmodule.exe+0x1000:stcmp
mainmodule.exe+0x1200:strncmp

[2020-07-01 04:36] TomSie opened #221 "Fuzzcmp: Add support for common compare functions"
_mbscmp
_mbsicmp
_mbsnbcmp
_mbsnbicmp
_mbsncmp
_mbsnicmp
_memicmp
_stricmp
_strnicmp
_wcsicmp
_wcsnicmp
memcmp
memicmp
strcmp
strcmpi
stricmp
strncmp
strnicmp
wcscmp
wcsicmp
wcsncmp
wcsnicmp
wmemcmp

[2020-07-01 13:35] TomSie commented on #221
After #222 has been merged, we have support for
strcmp
memcmp
strncmp
 _stricmp
strcmpi
stricmp

[2020-07-06 12:59] #205 closed, assigned to p4cx

[2020-07-13 09:27] #211 closed, assigned to jones718

[2020-07-14 15:54] joyride9999 commented on #208
Should i try to import all exported functions from user32.dll?  ¯\_(ツ)_/¯  ... there are quite a lot  !

[2020-07-15 04:35] TomSie commented on #208
As I understand the AppInit_DLL technique, one (any) should be enough.

[2020-07-15 05:20] joyride9999 commented on #208
It looks like InitializeLpkHooks needs to be exported. However LoadappInitDll is in other dll
![image](https://user-images.githubusercontent.com/26308356/87506181-58b4bd00-c673-11ea-8a03-2d63df62a2c8.png)

However it looks like before calling this user32.dll (ClientThreadSetup) set ups some stuff, and those function calls might not work from the context of a windows service, as a service normally

[2020-07-15 10:15] jones718 commented on #215
Fixed in pull request #226

[2020-07-16 10:34] joyride9999 commented on #208
Ok, so this is the solution i ended up with.
All in all it has a dependency on PE Bliss lib (https://github.com/BackupGGCode/portable-executable-library)
I decided to use it because it can be linked statically, there should not be any license problems, it can be included easily in any project as static project (so it shouldn't be needed to be downloaded on build like the other dependencies')

[IDl

[2020-07-16 11:01] TomSie commented on #208
does this work for both x86 an x64?

[2020-07-16 11:03] joyride9999 commented on #208
yes it should ... i tested only on 32 with my service, but i can make a quick test also on 64  just need to rebuild my service again :))

[2020-07-16 11:09] TomSie commented on #208
yes that, would be great :) Your solution looks quite neat btw.
Correct me if I'm wrong: What you do is
- Read the Import Section
- Add a new import to it
- Create a new section
- Write the modified Import Section to the new section
- Overwrite the PE's pointer for Import Section to point to the new section

Is that correct?

[2020-07-16 11:10] joyride9999 commented on #208
y, that kind of sums it up ...

[2020-07-16 11:41] joyride9999 commented on #208
Y its ok 👍

![Untitled](https://user-images.githubusercontent.com/26308356/87667006-4ff6e080-c772-11ea-97e0-0159ba986ec4.jpg)

[2020-07-20 10:15] jones718 commented on #200
Implemented in pull request #227

[2020-07-22 05:23] TomSie commented on #208
great work! I will integrate this into FLUFFI master as soon as I can spare some time :)

[2020-07-22 06:43] #200 closed, assigned to jones718

[2020-07-23 06:28] #215 closed, assigned to jones718

[2020-09-10 09:23] #204 closed, assigned to p4cx

[2020-10-06 14:28] SpormannDavid opened #233 "FUN setup: Some required external binaries are no longer available"
Some of the binary files that need to be manually downloaded when setting up the FUN as described in [Getting Started](https://github.com/siemens/fluffi/blob/master/docs/getting_started.md) are no longer available:

`/srv/fluffi/data/smb/files/initial/updatesWS2008/Windows6.1-KB2819745-x64-MultiPkg.msu`
`/srv/fluffi/data/ftp/files/initial/windows/ansible/GFlags/GFlags.zip`

Additionally, some of t

[2020-10-06 15:04] p0wer0xff opened #234 "openssl dependency build runs out of memory"
when building ARM with constrained memory, the openssl build runs out of memory because too many processes are spawned.
this is due to the fact that in [make_dep.sh](https://github.com/siemens/fluffi/blob/master/core/dependencies/openssl/make_dep.sh#L46)  the `make -j$THREADS` will be evaluated to `make -j` since the `THREADS` variable does not exist: there is a typo [in the beginning](https://git

[2020-10-06 15:13] #234 closed, assigned to p0wer0xff

[2020-10-06 15:14] #219 closed, assigned to p4cx

[2020-10-06 15:14] #202 closed, assigned to jones718

[2020-10-07 09:29] Mihai-Dutescu commented on #233
The following two files are also no longer available with this filename (at least in their newest version):

[code]

The LmDisk installer now ships as two files inside a .zip file.

[2020-10-08 13:07] Mihai-Dutescu commented on #233
KB3191566 appears to be a drop-in replacement for KB2819745, at least on Windows server 2008. It would only require editing ```/srv/fluffi/data/smb/files/initial/installUpdatesOnWS2008.ps1```.

[2020-10-13 15:36] Mihai-Dutescu opened #238 "Switch to newer powershell update package"
The ```KB2819745``` update that gets deployed on Windows Server 2008 machines seems to no longer be available and has been superseeded by ```KB3191566 ```. We should transition to deploying this newer update.

[2020-12-30 20:51] maverickwoo opened #241 "Web: Cannot configure number of LocalManagers"
In latest `master` as of this writing (f4781fc), the guard at

https://github.com/siemens/fluffi/blob/f4781fc2a9755275dc9c11a71ee08358892f31e8/srv/fluffi/data/fluffiweb/app/controllers.py#L1365

inside `insertFormInputForConfiguredInstances` watches over every line until:

https://github.com/siemens/fluffi/blob/f4781fc2a9755275dc9c11a71ee08358892f31e8/srv/fluffi/data/fluffiweb/app/controllers.py#L

[2021-01-20 19:06] jones718 commented on #241
Thanks for pointing out this bug. It will be fixed with PR #242

[2021-01-27 15:31] jones718 opened #243 "Web: improve pagination for lm logs"
- make loading of lm logs dynamic
- improve behaviour for large number of pages

[2021-01-28 10:27] #241 closed, assigned to jones718

[2021-02-26 10:56] Mihai-Dutescu opened #245 "Race condition when generating agent nice names"
There is a textbook race condition when generating these; the code fetches the current number of nice names (as one SQL statement), increments it by one to create the name and then inserts the new name in a separate SQL statement. This function is called by worker threads, so enough agents being created at the same time -> duplicate nice names.

See lines 231 and 260 of [LMDatabaseManager.cpp](htt

[2021-02-26 11:56] #243 closed, assigned to jones718

[2021-02-26 11:56] #238 closed, assigned to nobody

[2021-02-26 11:56] #245 closed, assigned to nobody

[2021-03-07 01:47] maverickwoo opened #247 "Rsync to ramdisk seems too eager when Linux worker node restarts"
We observe that when a Linux worker node restarts in our deployment, it will run:

[code]

But, at least with our setup (our worker nodes are LXC containers), this can potentially (a) take a long time while (b) not achieve any useful effect *if* the persistent directory is larger than the ramdisk, which is often the case anyway. I guess one possible next step would be to investigate why on our set

[2021-03-08 15:03] p0wer0xff opened #248 "DashSync Issues"
sometime ago, somewhere we broke the compatibility between socket.io versions in flask and js. also, we apparently need a cors header now.

[CORS:](https://github.com/siemens/fluffi/blob/f4781fc2a9755275dc9c11a71ee08358892f31e8/srv/fluffi/data/dashsync/main.py#L28) `socketio = SocketIO(app, cors_allowed_origins="*")`

[socket.io](https://github.com/siemens/fluffi/blame/f4781fc2a9755275dc9c11a71ee0

[2021-03-19 09:43] jan-kiszka opened #249 "Address django CVE alert"
See https://github.com/siemens/fluffi/security/dependabot/srv/fluffi/polenext/requirements.txt/django/open

[2021-03-23 23:12] vinamrabhatia opened #256 "Running no. of Local Managers are not consistent"
We have observed in a number of instances that the running instances of `Local Managers` sometimes go usually high ( or they don't converge when we set all of them to 0 in Systems). This particular case happened when I made all the running instances as 0.

![Screenshot_20210306_183206](https://user-images.githubusercontent.com/16346336/112228547-d9b35380-8c07-11eb-8088-afcb06554c00.png)

The log m

[2021-03-24 05:57] TomSie commented on #256
I am not sure if that is your problem, but a known problem is that if there is no local manager for a fuzzjob, the displayed amount of instances for a system might be much higher than the actual number. This is due to the fact that the web gui just looks at what instances exist in the fuzzjob's database. If, however, there is no active Localmanager that checks if these instances are actually alive

[2021-03-31 10:20] jones718 commented on #203
Implemented in PR #231

[2021-03-31 10:20] #203 closed, assigned to jones718

[2021-06-03 06:35] jan-kiszka commented on #249
@p0wer0xff If CVE resolution for deps isn't in scope, please leave a note in the readme and disable scanning so that we are not "spammed". Otherwise, test and merge the pending PRs of the bot.

[2021-09-01 13:03] p0wer0xff commented on #249
since this is a 3rd party subcomponent that is very fragile anyway and is supposed to run in an airgapped network, we'd rather not change anything about it. I have disabled the bot, so it stops spamming us.

[2021-09-09 16:36] #249 closed, assigned to nobody

[2021-10-11 11:49] TeamFLUFFI commented on #248
should be fixed by a541d6c4f9d39e7604fce3b404053de552e8c85d

[2021-10-19 03:10] sears-s opened #271 "Compilation fails after dynamorio update"
When following the instructions for compiling for Ubuntu, compilation ends with the following error:

[code]

The issue is resolved by reverting to commit `fd9406b92f456998499703fb2d964c6e5151acea` (commit before updating dynamorio).